[Unit]
Description=Getirbakim production supplier scheduler

[Timer]
OnBootSec=5min
OnUnitInactiveSec=15min
Persistent=true

[Install]
WantedBy=timers.target
